<!DOCTYPE html>
<html>
<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- SSR-meta -->
    <link rel="preconnect" href="https://firebaseinstallations.googleapis.com">
    <link rel="preconnect" href="https://firebaseremoteconfig.googleapis.com">
    <link rel="preconnect" href="https://firebaselogging-pa.googleapis.com">
    <!-- SSR-link -->
    <style>
        link[rel="manifest"] {
            --pwacompat-splash-font: bold 24px Cursive;
        }
    </style>
    <script><%= htmlWebpackPlugin.options.inline %></script>
    <!-- SSR-script -->
</head>
<body>
<a href="https://github.com/Ridermansb/react-firebase-ssr" class="uk-position-absolute uk-position-top-right uk-position-z-index"><img width="149" height="149" src="https://github.blog/wp-content/uploads/2008/12/forkme_right_darkblue_121621.png?resize=149%2C149" class="attachment-full size-full" alt="Fork me on GitHub" data-recalc-dims="1"></a>
<div id="root"><!-- SSR --></div>
</body>
</html>
