<!DOCTYPE html>
<html lang="en-US">
<head>
    <script async crossorigin="anonymous" src="//polyfill.io/v3/polyfill.min.js?flags=gated&features=Intl.~locale.pt%2CArray.from%2CArray.prototype.fill%2CArray.prototype.findIndex%2CArray.prototype.find%2CArray.prototype.filter%2Ces7%2Ces6%2CPromise"></script>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="msapplication-TileColor" content="#1e87f0" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#ffffff" />
    <meta name="msapplication-navbutton-color" content="#1e87f0" />
    <meta name="msapplication-starturl" content="/?utm_source=a2hs" />
    <style>
        link[rel="manifest"] {
            --pwacompat-splash-font: bold 24px Cursive;
        }
    </style>
</head>
<body>
<div id="root"></div>
</body>
</html>
