<!DOCTYPE html>
<html lang="en-US">
<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="preconnect" href="https://firebaseinstallations.googleapis.com">
    <link rel="preconnect" href="https://firebaseremoteconfig.googleapis.com">
    <link rel="preconnect" href="https://firebaselogging-pa.googleapis.com">
    <style>
        link[rel="manifest"] {
            --pwacompat-splash-font: bold 24px Cursive;
        }
    </style>
    <script><%= htmlWebpackPlugin.options.inline %></script>
</head>
<body>
<div id="root"></div>
</body>
</html>
